/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2015, 10:31:12 AM
    Author     : dejan


Changes on top of original theme:
@brand-primary : #1c4ea2 

*/
p{white-space: pre;}
/* SPACING */ 
.row{}
.control-group{margin-bottom: 1em;}
.spacer{padding:1em 0;}
#header-bar{margin-bottom:1em;}
.sub-menu{margin-left: 1em;background-color: #ffffff;border-color: #ffffff;color:#18bc9c}
#main-menu{padding-bottom: 1em;padding-top:0;}
#logo-small{}
.frame{padding:1em;}
.border{border:#afd9ee 2px solid;}
/* COLORS */ 

.blue{background-color: #afd9ee;}
.green{background-color: #18bc9c;}
.grey{background-color: rgba(150,150,150,0.2);}
.alert-dismissable.alert-danger{background-color: tomato;color:#ffffff}
.border_btm{border-bottom: #afd9ee 1px solid;}
.text-link-delete{color:#ff0906;}


/* FONTS */
label{font-weight:normal;}
strong{color:#317eac;}

/* COMPONENTS */
/* Login Form */
#loginForm{background-color: rgba(175,217,238,0.5); padding:3em; border-radius: 20px;margin-top:10%;}
#loginBtn{margin-right: 1em;}
.alert-dismissable h4{display: none;}

/* MAIN MENU */
.nav-pills li a{padding-left:20px; padding-right: 20px;margin-right:2em;}


/* TABLES */
.table-service{margin:0;}
#servicesGrid th{font-weight: normal;color:#317eac;}
#servicesGrid {font-size:0.8em;}
#servicesGrid.table tr td{line-height: 0.5em;font-size:1.1em;}

.table-service {font-size: 1em;}
.table tr{border-top:none;}
.table-service th {border-bottom: #afd9ee 3px solid;height:2em;}
.table-service tr{height:1.4em;}

.table-service tr :nth-child(1){width:10%;}
.table-service tr :nth-child(2){width:60;}
.table-service tr :nth-child(3){width:30%;}
.table-service tr td i, b{font-size:1.2em;color:#008cba}

.table-invoice{margin-top:0.5em;font-size:1em;}
.table-invoice tr{line-height: 1.5em;font-size: 1em;}
.table-invoice tr td:first-child{color:#317eac;width:120px;}

.display-grid td:nth-child(1){width:15%;}
.display-grid td:nth-child(2){width:35%;}
.display-grid td:nth-child(3){width:20%;}
.display-grid td:nth-child(4){width:20%;}
.display-grid td:nth-child(5){width:10%;}

#serviceListZone table tr:last-child{height:2em;border-top:#afd9ee 1px solid;}

/*DASHBOARD*/
.dashboard-module{margin-top:2em;}
.dashboard-module .icon{padding:0;}
.dashboard-module .text{padding-left:4em;margin-top:1.5em;line-height:1.2em;font-size: 1.2em;}
.dashboard-module img{}
.dashboard-module h4 i{font-size: 0.7em;padding-left: 1em;color:#999999}
.badge{width:2.5em;line-height:1.3em;}

.overdue{border:#ff6666 1px solid}
.closed{border:#666666 1px solid;background-color: #cccccc}

.invoiceGrid td:nth-child(1){width:10%;}
.invoiceGrid td:nth-child(2){width:25%;}
.invoiceGrid td:nth-child(3){width:15%;}
.invoiceGrid td:nth-child(4){width:10%;}
.invoiceGrid td:nth-child(5){width:10%;}
.invoiceGrid td:nth-child(6){width:10%;}
.invoiceGrid td:nth-child(7){width:10%;}
.invoiceGrid td:nth-child(8){width:10%;}


/*ul.pagination{float:right;}*/
#registration{}
#registration label{margin:0;}
#registration h4{margin-bottom: 1em;}
.client-module{background-color:rgba(153,180,255,0.2);}
.client-module label{}
.client-module h4{margin:0.25em 0;}
.client-module h5{color:#999999;}

.btn-primary, .btn-success{margin-left:0.5em;}
#addClientBtn{float:right;}
.image-pagelink{margin-left:5em;}
#openInvoicesGrid,#overdueInvoicesGrid,#closedInvoicesGrid{display:none;}
.invoices-link:focus, .invoices-link:active{outline-style: none;text-decoration: none;}

#addCompanyForm{margin-top:1em;}

#invoiceTable td:nth-child(1){width:40%;border-right:#cccccc 1px solid;}
#invoiceTable td:nth-child(2){width:20%;border-right:#cccccc 1px solid;}
#invoiceTable td:nth-child(3){width:40%;}

#bank-table :nth-child(1){width:20%;}
#bank-table :nth-child(2){width:80; }


.dashboard-table td:nth-child(1){width:20%;}
.dashboard-table td:nth-child(2){width:20%;}
.dashboard-table td:nth-child(3){width:30%;}
.dashboard-table td:nth-child(4){width:10%;}
.dashboard-table td:nth-child(5){width:10%;}
.dashboard-table td:nth-child(6){width:10%;}